
# Generate with: python -c "import bcrypt; print(bcrypt.hashpw(b'jouwwachtwoord', bcrypt.gensalt()).decode())"
ADMIN_USER=admin
ADMIN_PASSWORD_HASH='<PUT HERE>'

# Generate with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY='<PUT HERE>'


# HomeAssistant shopping list support
HA_URL=http://homeassistant.local:8123
HA_TOKEN=<your token>
